.first {
  height: 100vh;
  width: 100vw;
  background-image: url(./imag/cover.jpeg);
  background-size: cover;
  background-position: center;
  background-position-x: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding: 38px;
  @media (min-width: 768px) {
    background-position-x: 25%;
  }
  & h1 {
    font-family: $title;
    font-size: $xxl;
    color: $white;
    text-transform: uppercase;
    padding-left: 5px;
    line-height: 1.67;
    @media (min-width: 768px) {
      font-size: $bigTablet;
      line-height: 1.33;
    }
    @media (min-width: 1024px) {
      font-size: $bigTablet;
      width: 954.8px;
    }
  }
  & p {
    font-family: $text;
    font-size: $s;
    color: $white;
    padding: 10px 16px;
    @media (min-width: 768px) {
      font-size: $xl;
      width: 28ch;
      line-height: 1.17;
    }
  }
  & figure {
    width: 38px;
    height: 36px;
    background-color: $white;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
    @media (min-width: 768px) {
      width: 42.5px;
      height: 45px;
    }
    & img {
      transform: translateY(11px);
      @media (min-width: 768px) {
        transform: translateY(15px);
      }
    }
  }
}
