.third {
  display: grid;
  justify-items: center;
  padding: 29px 15px 49px 15px;
  text-align: center;
  gap: 41px;
  background-color: $light_gray;
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    column-gap: 30px;
    row-gap: 38px;
    padding: 49px 30px 69px 49px;
  }
  @media (min-width: 1024px) {
    padding: 48px 81.2px 69px 91px;
  }
  &__h2 {
    font-family: $title;
    font-size: $l;
    line-height: 1.5;
    width: 20ch;
    @media (min-width: 768px) {
      grid-column: 1/4;
      font-size: $smallTablet;
      width: 450px;
    }
    @media (min-width: 1024px) {
      font-size: $mediumTablet;
      width: 730px;
    }
  }
  &__article {
    width: 25ch;
    line-height: 1.67;
    @media (min-width: 768px) {
      padding-bottom: 20px;
    }
    &--h3 {
      font-family: $title;
      color: $black;
      font-size: $m;
      @media (min-width: 768px) {
        font-size: $xl;
        padding-bottom: 18px;
      }
    }
    &--p {
      font-family: $text;
      color: $black;
      font-size: $m;
      @media (min-width: 768px) {
        font-size: $l;
      }
    }
  }
  &__button {
    padding: 0 0 49px 0;
    border: 2px solid $orange;
    border-radius: 22.5px;
    width: 184px;
    height: 45px;
    background-color: $orange;
    line-height: 50px;
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: scale(1.2);
      background-color: $white;
    }
    & a {
      text-decoration: none;
      font-family: $text;
      font-size: $l;
      color: $white;
      &:hover {
        color: $orange;
      }
    }
    @media (min-width: 768px) {
      grid-column: 1/4;
    }
  }
}
