<footer class="footer">
  <figure class="footer__arrow">
    <a href="#start"><img src="/img/ico-arrow.svg" alt="arrow up" /></a>
  </figure>
  <ul class="footer__menu">
    <li>
      <a href="https://adalab.es/" target="_blank" title="Visita adalab.es"
        >Zapatillas</a
      >
    </li>
    <li>
      <a href="https://adalab.es/" target="_blank" title="Visita adalab.es"
        >Ropa</a
      >
    </li>
    <li>
      <a href="https://adalab.es/" target="_blank" title="Visita adalab.es"
        >Niño/a</a
      >
    </li>
    <li>
      <a href="https://adalab.es/" target="_blank" title="Visita adalab.es"
        >Destacados</a
      >
    </li>
    <li>
      <a href="https://adalab.es/" target="_blank" title="Visita adalab.es"
        >Tips</a
      >
    </li>
  </ul>
  <ul class="footer__menu">
    <li>
      <a href="https://adalab.es/" target="_blank" title="Visita adalab.es"
        >Twitter</a
      >
    </li>
    <li>
      <a href="https://adalab.es/" target="_blank" title="Visita adalab.es"
        >Instagram</a
      >
    </li>
    <li>
      <a href="https://adalab.es/" target="_blank" title="Visita adalab.es"
        >Youtube</a
      >
    </li>
  </ul>
  <ul class="footer__info">
    <li>&copy; 2023</li>
    <li>we<i class="fa-solid fa-heart"></i>run</li>
  </ul>
</footer>
