<section class="second">
  <p class="second__p--1">Los sentimientos nos inspiran</p>
  <h2 class="second__h2">Conecta Contigo</h2>
  <p class="second__p--2">
    Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de
    la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la
    plena consciencia que tan bien nos hacen sentir.
  </p>
  <div class="second__button">
    <a href="https://adalab.es/" target="_blank" title="Vista adalab.es"
      >Comprar</a
    >
  </div>
</section>
