<section class="third">
  <h2 class="third__h2" id="newYear">Año nuevo, movimientos nuevos</h2>
  <article class="third__article">
    <load
      src="/partials/info.html"
      alt="first info"
      h3="Entrenamientos"
      p="Sesiones de running y entrenamientos."
    />
  </article>
  <article class="third__article">
    <load
      src="/partials/info.html"
      alt="second info"
      h3="Cualquier nivel"
      p="Entrenamientos para cada nivel."
    />
  </article>
  <article class="third__article">
    <load
      src="/partials/info.html"
      alt="third info"
      h3="Exclusividad"
      p="Productos para miembros premium."
    />
  </article>
  <div class="third__button">
    <a href="https://adalab.es/" target="_blank" title="Vista adalab.es"
      >Empezar ahora</a
    >
  </div>
</section>
